@font-face {
  font-family: "LifeCraft_Font";
  src: url("../fonts/LifeCraft_Font.ttf");
}
body {
  /* font-family: "LifeCraft_Font"; */
  height: 100vh;
  font-size: larger;
  color: burlywood;
  margin-left: 20%;
  margin-right: 20%;
  background-image: url(/public/img/fond.jpg);
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size:cover;
  text-align: justify;
  
  
}
#banner {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  justify-content: space-around;
  align-items: end;
  position: relative;
}
#banner img {
  width: 100%;
}
nav {
  position: absolute;
  bottom: 5px;
}
.button {
  text-decoration: none;
  background-color: #493548;
  color: white;
  border-radius: 3px;
  margin-left: 5px;
  padding: 2px 5px 2px 5px;
  border-style: solid;
  border-color: black;
  border-width: 0.7px;
}
.browse {
  background-color: brown;
  color: white;
  border-radius: 3px;
  padding: 2px 5px 2px 5px;
  border-style: solid;
  border-color: black;
  border-width: 0.7px;
}
textarea {
  width: 100%;
}
.picture {
  margin-right: 15px;
  float: left;
  height: 50%;
}
.heightArticle {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 250px;
}
.title {
  font-size: x-large;
}
.blocNext {
  display: flex;
  justify-content: space-between;
}
.blocNext a,
.blocNext span {
  display: inline-block;
  color: burlywood;
}
.dateAuthor {
  font-size: medium;
}
table {
  opacity: 75%;
}
#introStory {
  float: left;
  margin-right: 15px;
}
